.menu {
  margin-top: 7em;

  .wrapper {
    .head {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
    }

    .info {
      text-align: center;
      width: 38%;
      margin: auto;
      margin-top: 1em;
    }

    .container {
      width: 90%;
      margin: auto;
      margin-top: 3em;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      .content {
        width: 290px;
        height: 390px;
        border-radius: 15px;
        padding: 8px;
        margin: auto;
        position: relative;
        cursor: pointer;
        border: 1px solid lightgray;

        &:hover {
          transition: box-shadow 0.5s;

          box-shadow: -1px 6px 21px -2px rgba(0, 0, 0, 0.15);
        }

        .img {
          position: relative;
          img {
            border-radius: 10px;
            border: none;
          }

          .star {
            position: absolute;
            bottom: 9%;
            right: 5%;
            width: 3.8em;
            height: 1.6em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 8px;
            border-radius: 15px;
            background-color: white;

            .icon {
              fill: rgb(240, 171, 41);
            }

            p {
              font-size: 14px;
              font-weight: bold;
            }
          }
        }

        .title {
          font-size: 15px;
          font-weight: bold;
        }

        .type {
          font-size: 13px;
          margin-top: 0.8em;
        }

        .dist-price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 55%;
          margin-top: 0.8em;

          .distance {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;

            .icon {
              fill: red;
            }

            p {
              font-weight: 500;
              font-weight: bold;
            }
          }

          .dot {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: black;
          }

          .price {
            display: flex;
            align-items: center;

            .icon {
              font-size: 14px;
              fill: rgb(59, 58, 58);
            }
          }
        }
      }
    }

    .show-more {
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      width: 13em;
      margin: auto;
      margin-top: 3em;
      padding: 10px 1em;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: rgba(48, 141, 48, 0.168);

      a {
        color: green;
      }

      &:hover {
        transition: 0.3s background-color;
        background-color: rgba(48, 141, 48, 0.288);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .menu {
    margin-top: 5em;

    .wrapper {
      max-width: 95%;
      margin: auto;
      .head {
        text-align: left;
        font-size: 1.2em;
      }

      .info {
        text-align: left;
        width: 100%;
        font-size: 14px;
        margin-top: 0.7em;
      }

      .container {
        width: 100%;
        margin: auto;
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        .content {
          width: 100%;
          height: fit-content;
          display: flex;
          position: relative;
          padding: 5px;
          border: 1px solid rgba(211, 211, 211, 0.37);

          .img {
            width: 160px;
            height: 150px;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }

            .star {
              position: absolute;
              bottom: 9%;
              right: 25%;
            }
          }

          .sect-two {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
          }

          .dist-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65%;
            margin-top: 0.8em;
          }
        }
      }

      .show-more {
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        margin: auto;
        margin-top: 2em;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu {
    margin-top: 5em;

    .wrapper {
      max-width: 95%;
      margin: auto;
      .head {
        text-align: left;
        font-size: 1.2em;
      }

      .info {
        text-align: left;
        width: 100%;
        font-size: 14px;
        margin-top: 0.7em;
      }

      .container {
        width: 100%;
        margin: auto;
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        .content {
          width: 48%;
          height: fit-content;
          display: flex;
          position: relative;
          padding: 5px;
          border: 1px solid rgba(211, 211, 211, 0.37);

          .img {
            width: 160px;
            height: 150px;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }

            .star {
              position: absolute;
              bottom: 9%;
              right: 25%;
            }
          }

          .sect-two {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
          }

          .dist-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65%;
            margin-top: 0.8em;
          }
        }
      }

      .show-more {
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        margin: auto;
        margin-top: 2em;
      }
    }
  }
}
