.inspo {
  margin-top: 10em;

  .wrapper {
    .head {
      font-size: 1.8em;
      font-weight: bold;
      text-align: center;
    }

    .box {
      max-width: 90%;
      margin: auto;
      margin-top: 2.5em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1.5em;
      a {
        .container {
          width: 175px;
          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 15px;
          border: 1px solid rgba(211, 210, 210, 0.715);

          p {
            font-weight: 600;
            font-size: 14px;
          }
        }

        &:hover .container {
          transition: box-shadow 0.5s;
          border: none;
          box-shadow: -1px 6px 21px -2px rgba(0, 0, 0, 0.15);
        }

        .bottom-title {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .inspo {
    margin-top: 8em;

    .wrapper {
      width: 97%;
      margin: auto;

      .head {
        font-size: 1.2em;
        text-align: left;
      }

      .box {
        max-width: 100%;
        margin: auto;
        margin-top: 2em;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px;
        gap: 0;

        a {
          text-align: center;
          width: 120px;
          margin-top: 1em;
          .container {
            width: 120px;
            height: 120px;

            img {
              width: 70px;
            }

            p {
              display: none;
            }
          }
          .bottom-title {
            font-size: 13px;
            width: 80%;
            margin: auto;
            margin-top: 8px;
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .inspo {
    margin-top: 8em;

    .wrapper {
      width: 97%;
      margin: auto;

      .head {
        font-size: 1.2em;
        text-align: left;
      }

      .box {
        max-width: 100%;
        margin: auto;
        margin-top: 2em;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px;
        gap: 0;

        a {
          text-align: center;
          width: 120px;
          margin-top: 1em;
          .container {
            width: 120px;
            height: 120px;

            img {
              width: 70px;
            }

            p {
              display: none;
            }
          }
          .bottom-title {
            font-size: 13px;
            width: 80%;
            margin: auto;
            margin-top: 8px;
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .inspo {
    .wrapper {
      .box {
        max-width: 90%;
        margin: auto;
        margin-top: 2.5em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5em;
        a {
          .container {
            width: 185px;
            height: 190px;

            img {
              width: 80px;
            }

            p {
              margin-top: 1em;
            }
          }

          .bottom-title {
            display: none;
          }
        }
      }
    }
  }
}
