.cuisine {
  margin-top: 7em;

  .wrapper {
    .head {
      font-size: 1.8em;
      font-weight: bold;
      text-align: center;
    }

    .container {
      max-width: 88%;
      margin: auto;
      margin-top: 3em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.8em;

      a {
        margin-top: 0.5em;
      }
      .content {
        width: 185px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 170px;
          height: 170px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 180px;
          }
        }

        p {
          margin-top: 1em;
          font-size: 15px;
          font-weight: bold;
        }

        &:hover {
          transition: box-shadow 0.3s;
          box-shadow: -1px 6px 21px -2px rgba(0, 0, 0, 0.17);
        }
      }
    }

    .see-more {
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      color: green;
      width: 13em;
      margin: auto;
      margin-top: 2em;
      padding: 10px 1em;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: rgba(48, 141, 48, 0.168);

      &:hover {
        transition: 0.3s background-color;
        background-color: rgba(48, 141, 48, 0.288);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cuisine {
    margin-top: 5em;

    .wrapper {
      width: 95%;
      margin: auto;
      .head {
        font-size: 1.2em;
        text-align: left;
      }

      .box {
        width: 100%;
        margin: auto;
      }
      .container {
        max-width: 100%;
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.9em;

        .content {
          width: 120px;
          height: 150px;

          .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;

            img {
              width: 120px;
            }
          }

          p {
            margin-top: 1em;
            text-align: center;
          }
        }
      }

      .see-more {
        width: 95%;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .cuisine {
    margin-top: 5em;

    .wrapper {
      width: 95%;
      margin: auto;
      .head {
        font-size: 1.2em;
        text-align: left;
      }

      .box {
        width: 100%;
        margin: auto;
      }
      .container {
        max-width: 100%;
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.9em;

        .content {
          width: 100px;
          height: 150px;

          .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;

            img {
              width: 110px;
              height: 100%;
            }
          }

          p {
            margin-top: 1em;
            text-align: center;
          }
        }
      }

      .see-more {
        width: 95%;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cuisine {
    margin-top: 7em;

    .wrapper {
      .container {
        max-width: 90%;
        margin: auto;
        margin-top: 2em;
        justify-content: space-between;

        .content {
          width: 185px;
          height: 220px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 10px;

          .image {
            img {
              width: 180px;
            }
          }

          p {
            margin-top: 1em;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }

      .see-more {
        color: green;
        width: 80%;
        margin: auto;
        margin-top: 3em;
      }
    }
  }
}
